___

<img src='logo.png' /></a>
___
# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general.

This notebook will just go through the basic topics in order:

* Data types
    * Numbers - int, float
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [2]:
1 + 1 + 2 + 3000

3004

In [3]:
1 * 3*3

9

In [4]:
1 / 2

0.5

In [6]:
9 ** 2

81

In [8]:
4 % 3

1

In [9]:
5 % 2

1

In [10]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [12]:
# Can not start with number or special characters
name_of_var = 2
x = 2

In [16]:
login = 'avinash.nahar'
password = 'P@ssword1'

In [21]:
print('Hello World this is my login id: ',login)

Hello World this is my login id:  avinash.nahar

In [14]:
z = x + y

In [15]:
z

5

### Strings

In [17]:
'single quotes'

'single quotes'

In [18]:
"double quotes"

'double quotes'

In [23]:
" wrap lot's of other quotes, I've "

SyntaxError: invalid syntax (<ipython-input-23-c734a3577365>, line 1)

### Printing

In [20]:
x = 'hello'

In [21]:
x

'hello'

In [22]:
print(x)

hello

In [24]:
num = 12
num = 123
name = 'Sam'

In [26]:
print('My number is: {one}, and my name is: {two}'.format(one=login,two=password))

My number is: avinash.nahar, and my name is: P@ssword1

In [25]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Lists

In [28]:
[1,2,3,44,9999.1123,[1,2,3,44,9999.1123]]

[1, 2, 3, 44, 9999.1123, [1, 2, 3, 44, 9999.1123]]

In [29]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [31]:
my_list = ['a','b','c']

In [32]:
my_list.append(123)

In [33]:
my_list

['a', 'b', 'c', 123]

In [34]:
my_list.append('d')

In [46]:
my_list = ['hi',1, 2, 3, 44, 9999.1123,['a',2]]

In [50]:
my_list

9999.1123

In [32]:
my_list[1]

'b'

In [55]:
my_list[0:4]

['hi', 1, 2, 3]

In [34]:
my_list[:1]

['a']

In [35]:
my_list[0] = 'NEW'

In [56]:
my_list

['hi', 1, 2, 3, 44, 9999.1123, ['a', 2]]

In [58]:
nest = [1,2,3,[4,5,['target']]]

In [59]:
nest[3]

[4, 5, ['target']]

In [60]:
nest[3][2]

['target']

In [61]:
nest[3][2][0]

'target'

### Dictionaries

In [64]:
d = {'key1':'item1','key2':'item2'}

In [66]:
d = {"author": "Zachary Shahan",
"title": "“Humanpilot” Was SERIOUSLY Deadly In 2020",
"description": "People fought against seatbelts not that long ago."}

In [67]:
d

{'author': 'Zachary Shahan',
 'title': '“Humanpilot” Was SERIOUSLY Deadly In 2020',
 'description': 'People fought against seatbelts not that long ago.'}

In [71]:
d.keys()

dict_keys(['author', 'title', 'description'])

### Booleans

In [72]:
True

True

In [73]:
False

False

In [78]:
x != y

True

In [83]:
x >= y

False

In [99]:
pass_tup = ('P@ssword1','P@ssword2','P@ssword3')

In [97]:
pass_list[2] = 'HACKED!'

In [100]:
pass_tup[2] = 'HACKED!'

TypeError: 'tuple' object does not support item assignment

In [102]:
pass_list
pass_tup

('P@ssword1', 'P@ssword2', 'P@ssword3')

In [88]:
a.pop()

4

In [89]:
a

[1, 2, 3]

### Tuples

In [42]:
t = (1,2,3)

In [43]:
t[0]

1

In [44]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [103]:
{1,2,3}

{1, 2, 3}

In [104]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2,4,4,4}

{1, 2, 3, 4}

## Comparison Operators

In [148]:
 x = [1,2,3,4,5,6,7,89]

In [48]:
1 < 2

True

In [49]:
1 >= 1

True

In [50]:
1 <= 4

True

In [51]:
1 == 1

True

In [113]:
'hi' in ['hi']

True

## Logic Operators

In [53]:
(1 > 2) and (2 < 3)

False

In [122]:
x = 'hello world hi'
if 'HI' == x:
    print('yes')
else:
    print('no')

no

In [126]:
((1 == 2) or (2 == 3)
 or (4 == 4))

True

In [130]:

print(login)
print(x)

avinash.nahar
hello world hi

## if,elif, else Statements

In [145]:
x = 'hi. hibernate'

In [147]:
if 'nate' in x:
    
    print('yes!')
else:
    print('no')

yes!

In [150]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [59]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [155]:
if 1 != 1:
    print('first')
elif 3 == 4:
    print('no')
elif 3 != 3:
    print('YES finally')
else:
    print('Last')

Last

## for Loops

In [168]:
seq = ['world','hi']

In [170]:
x

[1, 2, 3, 4, 5, 6, 7, 89]

In [169]:
for lotr in seq:
    print(lotr.upper())

WORLD
HI

In [175]:
for elements in x:
    elements = elements * 0.1
    print(elements)

0.1
0.2
0.30000000000000004
0.4
0.5
0.6000000000000001
0.7000000000000001
8.9

In [64]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [176]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [183]:
i = 1
while i <= 5:
    print(i)
    i = i+1

1
2
3
4
5

## range()

In [184]:
range(5)

range(0, 5)

In [185]:
for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [186]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

## list comprehension

In [188]:
x = [1,2,3,4]

In [192]:
print('general method')
out = []
for item in x:
    out.append(item*2)
print(out)

print('\nlist comprehension method')
[item*2 for item in x]

general method
[2, 4, 6, 8]

list comprehension method

[2, 4, 6, 8]

In [190]:
[item*2 for item in x]

[2, 4, 6, 8]

## functions

In [193]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [194]:
my_func

In [195]:
my_func()

default

In [196]:
my_func('new paramzz')

new paramzz

In [76]:
my_func(param1='new param')

new param

In [197]:
def squarz(x):
    return x**2

In [200]:
out = squarz(20)

400

In [199]:
print(out)

400

## lambda expressions

In [226]:
def times2(var):
    return var / 10

In [227]:
times2(8)

0.8

In [220]:
lambda i: i / 2

## map and filter

In [229]:
seq = [1,2,3,4,5,1,2,3,4,5,1,2,3,4,5]

In [221]:
map(times2,seq)

In [230]:
list(map(times2,seq))

[0.1, 0.2, 0.3, 0.4, 0.5, 0.1, 0.2, 0.3, 0.4, 0.5, 0.1, 0.2, 0.3, 0.4, 0.5]

In [232]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10, 2, 4, 6, 8, 10, 2, 4, 6, 8, 10]

In [233]:
filter(lambda item: item%2 == 0,seq)

In [238]:
list(filter(lambda item: item%3 == 0,seq))

[3, 3, 3]

## methods

In [250]:
st = 'hello my - name is Sam'
st

'hello my - name is Sam'

In [246]:
st.lower()

'hello my - name is sam'

In [241]:
st.upper()

'HELLO MY NAME IS SAM'

In [247]:
st.split('-')

['hello my ', ' name is Sam']

In [248]:
tweet = 'Go Sports! #Sports'

In [252]:
tweet.split('S')

['Go ', 'ports! #', 'ports']

In [254]:
tweet.split('#')[1]

'Sports'

In [92]:
d

{'key1': 'item1', 'key2': 'item2'}

In [93]:
d.keys()

dict_keys(['key2', 'key1'])

In [94]:
d.items()

dict_items([('key2', 'item2'), ('key1', 'item1')])

In [95]:
lst = [1,2,3]

In [96]:
lst.pop()

3

In [108]:
lst

[1, 2]

In [109]:
'x' in [1,2,3]

False

In [110]:
'x' in ['x','y','z']

True

# Great Job!